@import 'core';

.dark-cover{
  display: none;
  background-color: rgba(0,0,0,.6);
  position: fixed;
  top:0; left:0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

/* Cards shadow */
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  
  .btn{
    display: inline-block;
    font-family: $menufont;
    font-weight: 700;
    font-size: .9rem;
    line-height: 1.6;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    @media (prefers-reduced-motion: reduce) {
      &{
        transition: none;
      }
    }
    &:hover{
      color: #212529;
      text-decoration: none;
    }
    &:focus, &.focus{
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
    }
    &:disabled, &.disabled{
      opacity: 0.65;
    }
    &.btn-fix{
      width: 200px;
      padding: 0.7rem 1rem;
      border-radius: 1.5rem;
    }
    &.btn-primary{
      color: white;
      background-color: map-get($map: $bs4, $key: --primary);
    }
    &.btn-black{
      color: white;
      background-color: black;
    }
  }
  
$ripple-color: #00E7FF;

.ripple{
  text-decoration: none;
  color: #fff;
  width: 12px;
  height: 12px;
  background-color: #00E7FF;
  margin: 0 auto;
  border-radius: 100px;
  animation: ripple .7s linear infinite;
}

@-webkit-keyframes ripple{
  0%{
    box-shadow: 0 0 0 0 rgba($ripple-color, 0.3), 0 0 0 10px rgba($ripple-color, 0.3), 0 0 0 30px rgba($ripple-color, 0.3), 0 0 0 60px rgba($ripple-color, 0.3);
  }
  100%{
    box-shadow: 0 0 0 10px rgba($ripple-color, 0.3), 0 0 0 30px rgba($ripple-color, 0.3), 0 0 0 60px rgba($ripple-color, 0.3), 0 0 0 90px rgba($ripple-color, 0);
  }
}


@keyframes ripple{
  0%{
    box-shadow: 0 0 0 0 rgba($ripple-color, 0.3), 0 0 0 10px rgba($ripple-color, 0.3), 0 0 0 30px rgba($ripple-color, 0.3), 0 0 0 60px rgba($ripple-color, 0.3)
  }

  100%{
    box-shadow: 0 0 0 10px rgba($ripple-color, 0.3), 0 0 0 30px rgba($ripple-color, 0.3), 0 0 0 60px rgba($ripple-color, 0.3), 0 0 0 90px rgba($ripple-color, 0);
  }
}