@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');

$colortheme:(
  red: #ed1043,
  yellow: #fbe128,
  blue: #54d4f7,
  dark-grey: #1d1e21,
);

$bs4: (
  --blue: #3490dc,
  --indigo: #6574cd,
  --purple: #9561e2,
  --pink: #f66d9b,
  --red: #e3342f,
  --orange: #f6993f,
  --yellow: #ffed4a,
  --green: #38c172,
  --teal: #4dc0b5,
  --cyan: #6cb2eb,
  --white: #fff,
  --gray: #6c757d,
  --gray-dark: #343a40,
  --primary: #3490dc,
  --secondary: #6c757d,
  --success: #38c172,
  --info: #6cb2eb,
  --warning: #ffed4a,
  --danger: #e3342f,
  --light: #f8f9fa,
  --dark: #343a40,
  --breakpoint-xs: 0,
  --breakpoint-sm: 576px,
  --breakpoint-md: 768px,
  --breakpoint-lg: 992px,
  --breakpoint-xl: 1200px,
);
  
  
*, *::before, *::after {
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
  &:focus{
    color: inherit;
  }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

$menufont : 'Josefin Sans';