@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .83em;
}

.dark-cover {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

/* Cards shadow */
.card-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
}

.card-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.btn {
  display: inline-block;
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: .9rem;
  line-height: 1.6;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

.btn:disabled, .btn.disabled {
  opacity: 0.65;
}

.btn.btn-fix {
  width: 200px;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
}

.btn.btn-primary {
  color: white;
  background-color: #3490dc;
}

.btn.btn-black {
  color: white;
  background-color: black;
}

.ripple {
  text-decoration: none;
  color: #fff;
  width: 12px;
  height: 12px;
  background-color: #00E7FF;
  margin: 0 auto;
  border-radius: 100px;
  -webkit-animation: ripple .7s linear infinite;
          animation: ripple .7s linear infinite;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 231, 255, 0.3), 0 0 0 10px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 60px rgba(0, 231, 255, 0.3);
            box-shadow: 0 0 0 0 rgba(0, 231, 255, 0.3), 0 0 0 10px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 60px rgba(0, 231, 255, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 60px rgba(0, 231, 255, 0.3), 0 0 0 90px rgba(0, 231, 255, 0);
            box-shadow: 0 0 0 10px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 60px rgba(0, 231, 255, 0.3), 0 0 0 90px rgba(0, 231, 255, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 231, 255, 0.3), 0 0 0 10px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 60px rgba(0, 231, 255, 0.3);
            box-shadow: 0 0 0 0 rgba(0, 231, 255, 0.3), 0 0 0 10px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 60px rgba(0, 231, 255, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 60px rgba(0, 231, 255, 0.3), 0 0 0 90px rgba(0, 231, 255, 0);
            box-shadow: 0 0 0 10px rgba(0, 231, 255, 0.3), 0 0 0 30px rgba(0, 231, 255, 0.3), 0 0 0 60px rgba(0, 231, 255, 0.3), 0 0 0 90px rgba(0, 231, 255, 0);
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc;
}

.loader-wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.link {
  text-transform: uppercase;
  color: #cccccc;
  font-family: "Josefin Sans";
  font-weight: 700;
  padding: 0 5px;
}

a.link:hover {
  color: white;
}

a.nlink {
  text-decoration: underline;
}

ul.normal {
  padding-left: 20px;
  list-style-type: circle;
}

.f-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.desktop {
  z-index: 50;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  max-height: 50px;
  background-color: #1d1e21;
}

header.desktop > *:first-child {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.desktop img {
  width: auto;
  height: 90%;
}

header.desktop nav {
  position: absolute;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header.desktop nav ul > li {
  float: left;
}

header.desktop .search-bar {
  margin-top: 12px;
}

header.desktop .search-bar .wrapper {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.desktop .search-bar input {
  padding-left: 10px;
  font-size: 1em;
  font-family: "Josefin Sans";
  margin: auto 0;
  height: 26px;
  border: 0;
}

header.desktop .search-bar input:focus {
  outline: none;
}

header.desktop .search-bar input::-webkit-search-cancel-button {
  display: none;
}

header.desktop .search-bar .icon-wrapper {
  cursor: pointer;
  color: white;
  margin: auto 0;
  padding: 0 10px;
  height: 26px;
  background-color: #6c757d;
  -webkit-transition: .3s;
  transition: .3s;
}

header.desktop .search-bar .icon-wrapper:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #868e96;
}

header.mobile {
  display: none;
  color: white;
  z-index: 50;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  height: 50px;
  background-color: #1d1e21;
}

header.mobile .logo {
  max-width: 150px;
  position: absolute;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header.mobile img {
  max-width: 150px;
  height: auto;
}

header.mobile .search-toggle, header.mobile .nav-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

header.mobile .nav-toggle .menu-bar {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  padding: 50px;
  top: 0;
  left: -600px;
  height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 30;
}

header.mobile .nav-toggle .menu-bar .close {
  margin-bottom: 30px;
}

header.mobile .nav-toggle .menu-bar .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header.mobile .nav-toggle .menu-bar .link-wrapper > a {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 1.3rem;
  display: block;
  padding: 10px 30px;
}

header.mobile .nav-toggle .menu-bar .link-wrapper > a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

header.mobile .nav-toggle .menu-bar.active {
  left: 0;
  opacity: 1;
  visibility: visible;
}

header.mobile .search-toggle .search-bar {
  visibility: hidden;
  opacity: 0;
  right: 0;
  top: -20px;
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
}

header.mobile .search-toggle .search-bar input {
  font-size: 1em;
  width: 100vw;
  border: none;
  padding: 10px 7%;
  font-family: "Josefin Sans";
  font-weight: 700;
  color: black;
}

header.mobile .search-toggle .search-bar input:focus {
  outline: none;
}

header.mobile .search-toggle .search-bar.active {
  opacity: 1;
  visibility: visible;
  top: 50px;
  -webkit-transition: .3s;
  transition: .3s;
}

.carousel-fallback {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-fallback .item {
  max-width: 300px;
  width: 100%;
  height: 300px;
  margin: 0 20px;
  cursor: pointer;
}

.carousel-fallback .item .img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-fallback .item .title {
  font-size: 1.2rem;
}

.carousel-fallback .item .desc {
  color: rgba(0, 0, 0, 0.5);
}

div#body {
  margin-top: 50px;
  font-family: "Josefin Sans";
  font-weight: 700;
}

div#body section {
  width: 100%;
  position: relative;
}

div#body section.carousel {
  background-color: black;
  height: 700px;
  overflow: hidden;
}

div#body section.carousel .carousel-gallery {
  z-index: -1;
  background-image: url("../img/games/gta/SS1 GTA.jpg");
  background-position: center;
  background-size: cover;
  display: block;
  width: 100%;
  height: 700px;
}

div#body section.carousel .carousel-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#body section.carousel .carousel-content .ctx {
  padding: 0 5%;
  font-size: 4rem;
  color: white;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

div#body section.carousel .carousel-navigation-wrapper {
  z-index: 5;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#body section.carousel .carousel-navigation-wrapper .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-shadow: 0 15px 75px rgba(0, 0, 0, 0.6);
}

div#body section.carousel .carousel-navigation-wrapper .selector > div {
  cursor: pointer;
}

div#body section.carousel .carousel-navigation-wrapper .selector > * {
  cursor: pointer;
  padding: 0 5px;
}

div#body section.carousel .carousel-navigation-wrapper .navigator {
  padding: 10px;
  position: relative;
  bottom: 20px;
  cursor: pointer;
  width: 100px;
  color: white;
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#body section.carousel .carousel-navigation-wrapper .navigator.left {
  padding-left: 0;
  border-radius: 0 40px 40px 0;
}

div#body section.carousel .carousel-navigation-wrapper .navigator.right {
  padding-right: 0;
  border-radius: 40px 0 0 40px;
}

div#body section.carousel .carousel-navigation-wrapper .navigator:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

div#body section.free {
  padding: 0 5%;
}

div#body section.free.mg {
  padding: 50px 5%;
}

div#body section.free.normal > .title {
  text-align: center;
  padding: 20px 0;
  font-size: 1.2em;
}

div#body section.free.dark-grey {
  background-color: #1d1e21;
  color: white;
}

div#body section.free.blue {
  background-color: #54d4f7;
  color: black;
}

div#body section.free.yellow {
  background-color: #fbe128;
  color: black;
}

div#body section.free.red {
  background-color: #ed1043;
  color: white;
  -webkit-clip-path: polygon(0 0, 47% 0, 50% 20px, 53% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 47% 0, 50% 20px, 53% 0, 100% 0, 100% 100%, 0 100%);
}

div#body section.free.getmost {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
}

div#body section.free.getmost img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

div#body section.free.getmost > div:nth-child(2) {
  padding-left: 50px;
  font-size: 1.2rem;
  line-height: 2rem;
}

div#body section.free.logo-anim {
  -webkit-clip-path: polygon(0 0, 47% 0, 50% 20px, 100% 20px, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 47% 0, 50% 20px, 100% 20px, 100% 0, 100% 100%, 0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -20px;
}

div#body section.free.logo-anim img {
  max-width: 880px;
  height: auto;
  width: 80vw;
  padding-bottom: 20px;
}

div#body section.free.logo-anim p {
  position: absolute;
  left: 50vw;
  bottom: 65px;
  font-size: xx-large;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

div#body section.free.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#body section.free.store > .title {
  position: relative;
  width: 600px;
  left: -10px;
}

div#body section.free.store .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  position: relative;
  left: -20px;
  -ms-grid-columns: 200px 200px 200px;
      grid-template-columns: 200px 200px 200px;
}

div#body section.free.store .item {
  background-color: white;
  max-width: 200px;
  width: 100%;
  height: 300px;
  margin: 0 20px;
  cursor: pointer;
}

div#body section.free.store .item .ctx {
  padding: 0 10px;
}

div#body section.free.store .item .img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#body section.free.store .item .title {
  font-size: 1.2rem;
}

div#body section.free.store .item .desc {
  color: rgba(0, 0, 0, 0.5);
}

footer {
  margin-top: auto;
  clear: both;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1d1e21;
  font-family: "Josefin Sans";
  font-weight: 700;
  color: white;
  width: 100%;
}

footer p {
  margin: 0;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: black;
}

footer .social:hover a {
  background-color: rgba(255, 255, 255, 0.6);
}

footer .social a {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: black;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

footer .social a:hover {
  background-color: white;
}

footer .social a:hover ~ * {
  background-color: rgba(255, 255, 255, 0.6);
}

footer .lower .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}

footer .lower .navigation .left-side {
  font-weight: 300;
}

footer .lower .navigation .left-side img {
  width: 150px;
  height: auto;
}

footer .lower .navigation .left-side p:nth-child(2) {
  font-weight: 700;
}

footer .lower .navigation .left-side *:not(img) {
  padding-left: 8px;
}

footer .lower .navigation .nav {
  position: absolute;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1.5rem;
      grid-template-rows: 1.5rem;
}

footer .lower .navigation .nav:hover a {
  color: rgba(255, 255, 255, 0.6);
}

footer .lower .navigation .nav a {
  color: white;
}

footer .lower .navigation .nav a:hover {
  color: white;
}

footer .lower .navigation .nav a:hover ~ * {
  color: rgba(255, 255, 255, 0.6);
}

footer .lower .navigation .nav > * {
  display: block;
  padding: 0 20px;
}

footer .lower .navigation .lang select {
  font-family: "Josefin Sans";
  font-weight: 700;
  color: white;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

footer .lower .attributon {
  padding: 10px 0;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 768px) {
  header.desktop {
    display: none;
  }
  header.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.store > .title {
    width: 400px !important;
  }
  section.store .container {
    -ms-grid-columns: 200px 200px !important;
        grid-template-columns: 200px 200px !important;
  }
}

@media (max-width: 576px) {
  .carousel-fallback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.store > .title {
    width: 200px !important;
  }
  section.store .container {
    -ms-grid-columns: 200px !important;
        grid-template-columns: 200px !important;
  }
  section.carousel {
    height: 300px !important;
  }
  section.carousel .carousel-gallery {
    display: block;
    height: 300px !important;
  }
  section.carousel .carousel-content .ctx {
    font-size: 2rem !important;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  }
  section.carousel .navigator {
    padding: 10px;
    width: 70px !important;
    font-size: 2em !important;
  }
  section.carousel .navigator.left {
    padding-left: 0;
    border-radius: 0 20px 20px 0;
    margin-right: -20px;
  }
  section.carousel .navigator.right {
    padding-right: 0;
    border-radius: 20px 0 0 20px;
  }
  section.carousel .navigator:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  section.logo-anim p {
    margin-bottom: 0;
    font-size: 1em !important;
    white-space: nowrap;
  }
  section.getmost {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  section.getmost div:nth-child(2) {
    padding: 0 !important;
  }
  footer .lower .navigation {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 10px 5%;
  }
  footer .lower .navigation .nav {
    position: relative !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    left: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  footer .lower .navigation .nav > * {
    font-size: .8em;
  }
  footer .lower .navigation .lang {
    padding: 0 0 10px 0;
    text-align: center;
  }
  footer .lower .navigation .lang i {
    color: #cccccc;
  }
}
/*# sourceMappingURL=app.css.map */