@import 'component';

@mixin mfbold {
  font-family: $menufont;
  font-weight: 700;
}

html, body{ height:100%; margin:0; }

body {
  display:flex; 
  flex-direction:column; 
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc;
}

.loader-wrapper{
  z-index: 100;
  position: fixed;
  top:0; left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

$safemargin: 5%;
$headerh: 50px;

a.link{
    text-transform: uppercase;
    color: #cccccc;
    font-family: $menufont;
    font-weight: 700;
    padding: 0 5px;
    &:hover{
      color: white;
    }
}

a.nlink{
  text-decoration: underline;
}

ul.normal{
  padding-left: 20px;
  list-style-type: circle;
}

.f-center{
    display: flex;
    justify-content: center;
}

header.desktop{
  z-index: 50;
  position: fixed;
  width: 100%;
  top: 0; left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 $safemargin;
  max-height: $headerh;
  background-color: map-get($map: $colortheme, $key: dark-grey);
  & > *:first-child{
    width: 250px;
    display: flex;
    align-items: center;
  }
  img{
    width: auto;
    height: 90%;
  }
  nav{
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    ul > li{
      float:left;
    }
  }
  .search-bar{
    $sh: 26px;
    margin-top: 12px;
    .wrapper{
      background-color: white;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
    }
    input{
      padding-left: 10px;
      font-size: 1em;
      font-family: $menufont;
      margin: auto 0;
      height: $sh;
      border: 0;
      &:focus{
        outline: none;
      }
      &::-webkit-search-cancel-button{
        display: none;
      }
    }
    $sicon: 21px;
    .icon-wrapper{
      cursor: pointer;
      color: white;
      margin: auto 0;
      padding: 0 10px;
      height: $sh;
      background-color: map-get($map: $bs4, $key: --gray);
      transition: .3s;
      &:hover{
        transition: .3s;
        background-color: lighten(map-get($bs4,--gray),10%);
      }
    }
  }
}

header.mobile{
  display: none;
  color: white;
  z-index: 50;
  .logo{
    max-width: 150px;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
  }
  img{
    max-width: 150px;
    height: auto;
  }
  .search-toggle, .nav-toggle{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
  }
  .nav-toggle{
    .menu-bar{
      visibility: hidden;
      opacity: 0;
      position: fixed;
      width: 100%;
      padding: 50px;
      top: 0; left: -600px;
      height: 100vh;
      background-color: black;
      display: flex;
      flex-direction: column;
      transition: .3s;
      z-index: 30;
      .close{
        margin-bottom: 30px;
      }
      .link-wrapper{
        display: flex;
        flex-direction: column;
        & > a{
          @include mfbold();
          font-size: 1.3rem;
          display: block;
          padding: 10px 30px;
          &:hover{
            background-color: rgba(255,255,255,.3);
          }
        }
      }
      &.active{
        left: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .search-toggle{
    .search-bar{
      visibility: hidden;
      opacity: 0;
      right:0; top:-20px;
      position: absolute;
      transition: .3s;
      input{
        font-size: 1em;
        width: 100vw;
        border: none;
        padding: 10px 7%;
        font-family: $menufont;
        font-weight: 700;
        color: black;
        &:focus{
          outline:none;
        }
      }
      &.active{
        opacity: 1;
        visibility: visible;
        top:50px;
        transition: .3s;
      }
    }
  }
  position: fixed;
  width: 100%;
  top: 0; left: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 $safemargin;
  height: $headerh;
  background-color: map-get($map: $colortheme, $key: dark-grey);
}

.carousel-fallback{
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .item{
        max-width: 300px;
        width: 100%;
        height: 300px;
        margin: 0 20px;
        cursor: pointer;
        .img{
            display: inline-flex;
            width: 100%;
            height: 200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .title{
            font-size: 1.2rem;
        }
        .desc{
            color: rgba(0,0,0,.5);
        }
    }
}

div#body{
  margin-top: $headerh;
  @include mfbold();
  section{
    width: 100%;
    position: relative;

    &.carousel{
      background-color: black;
      height: 700px;
      overflow: hidden;
      .carousel-gallery{
        z-index: -1;
        background-image: url('../img/games/gta/SS1 GTA.jpg');
        background-position: center;
        background-size: cover;
        display: block;
        width: 100%;
        height: 700px;
      }
      .carousel-content{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .ctx{
          padding: 0 $safemargin;
          font-size: 4rem;
          color: white;
          text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
        }
      }
      .carousel-navigation-wrapper{
        z-index: 5;
        position: absolute;
        left:0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        .selector{
          display: flex;
          color: white;
          text-shadow: 0 15px 75px rgba(0,0,0,.6);
          & > div{
            cursor: pointer;
          }
          & > *{
            cursor: pointer;
            padding: 0 5px;
          }
        }
        .navigator{
          padding: 10px;
          position: relative;
          bottom: 20px;
          cursor: pointer;
          width: 100px;
          color: white;
          font-size: 3em;
          display: flex;
          transition: .3s;
          justify-content: center;
          $ce : 40px;
          &.left{
            padding-left: 0;
            border-radius: 0 $ce $ce 0;
          }
          &.right{
            padding-right: 0;
            border-radius: $ce 0 0 $ce;
          }
          &:hover{
            background-color: rgba(255,255,255,.2);
          }
        }
      }

    }

    &.free{
      padding: 0 $safemargin;
      &.mg{
        padding: 50px $safemargin;
      }
      &.normal{
          & > .title{
              text-align: center;
              padding: 20px 0;
              font-size: 1.2em;
          }
      }
      &.dark-grey{
        background-color: map-get($map: $colortheme, $key: dark-grey);
        color: white;
      }
      &.blue{
        background-color: map-get($map: $colortheme, $key: blue);
        color: black;
      }
      &.yellow{
        background-color: map-get($map: $colortheme, $key: yellow);
        color: black;
      }
      &.red{
        background-color: map-get($map: $colortheme, $key: red);
        color: white;
        clip-path: polygon(0 0, 47% 0, 50% 20px, 53% 0, 100% 0, 100% 100%, 0 100%);
      }
      &.getmost{
          display: grid;
          grid-template-columns: 200px 1fr;
          img{
              max-width: 100%;
              object-fit: contain;
              height: auto;
          }
          & > div:nth-child(2){
             padding-left: 50px; 
             font-size: 1.2rem;
             line-height: 2rem;
          }
      }
      &.logo-anim{
        clip-path: polygon(0 0, 47% 0, 50% 20px, 100% 20px, 100% 0, 100% 100%, 0 100%);
        display: flex;
        justify-content: center;
        img{
            max-width: 880px;
            height: auto;
            width: 80vw;
            padding-bottom: 20px;
        }
        margin-bottom: -20px;
        p{
            position: absolute;
            left: 50vw; bottom: 65px;
            font-size: xx-large;
            transform: translateX(-50%);
        }
      }

      &.store{
        $itemSize : 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & > .title{
          position: relative;
          width: $itemSize*3;
          left:-10px;
        }
        $ggap:20px;
        .container{
          display: grid;
          justify-content: center;
          column-gap: $ggap;
          row-gap: $ggap;
          position: relative;
          left:-20px;
          grid-template-columns: $itemSize $itemSize $itemSize;
        }
        .item{
            background-color: white;
            max-width: $itemSize;
            width: 100%;
            height: 300px;
            margin: 0 20px;
            cursor: pointer;
            .ctx{
              padding: 0 10px;
            }
            .img{
                display: inline-flex;
                width: 100%;
                height: 200px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .title{
                font-size: 1.2rem;
            }
            .desc{
                color: rgba(0,0,0,.5);
            }
        }
      }
    }

  }
}

footer{
    margin-top:auto; 
    clear: both;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: map-get($map: $colortheme, $key: dark-grey);
    @include mfbold();
    color: white;
    width: 100%;
    p{
        margin: 0;;
    }
    .social{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: black;
        $isz : 30px;
        $hvc : rgba(255,255,255,.6);
        &:hover a{
          background-color: $hvc;
        }
        a{
          margin: 0 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          color: black;
          background-color: white;
          width: $isz; height: $isz;
          border-radius: 20px;
          &:hover{
            background-color: white;
          }
          &:hover ~ *{
            background-color: $hvc;
          }
        }
    }
    .lower{
        .navigation{
            display: flex;
            padding: 30px $safemargin;
            justify-content: space-between;
            height: 150px;
            .left-side{
                font-weight: 300;
                img{
                    width: 150px;
                    height: auto;
                }
                p:nth-child(2){
                    font-weight: 700;
                }
                *:not(img){
                    padding-left: 8px;
                }
            }
            .nav{
                position: absolute;
                left: 50vw;
                transform: translateX(-50%);
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1.5rem;
                $hvc : rgba(255,255,255,.6);
                &:hover a{
                  color: $hvc;
                }
                a{
                  color: white;
                  &:hover{
                    color: white;
                  }
                  &:hover ~ *{
                    color: $hvc
                  }
                }
            }
            .nav > *{
                display: block;
                padding: 0 20px;
            }
            .lang{
                select{
                    @include mfbold();
                    color: white;
                    background-color: transparent;
                    border: none;
                    text-transform: uppercase;
                }
            }
        }
        .attributon{
            padding: 10px 0;
            font-weight: 300;
            text-align: center;
        }
    }
}

@import 'responsive';